.radar{
    display: grid;
    grid-template-columns: 80% 20%
}
.position{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 900px;
    width: 900px;
    z-index: -1;
}
.table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}
.table div {
    margin-bottom: 5px;
    font-size: 1vmin;
    width: 20vmin;
    height: 18vmin;
    cursor: pointer;
    border-style: solid;
    border-color: rgb(160, 158, 158);
    border-width: 3px;
    background-color: rgba(255, 255, 255, 0.705);
}
.table div p{
    text-align:justify;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 2.4vmin;
}
.table div h1{
    text-align: center;
    font-size: 3vmin;
    margin-top: 1px;
    margin-bottom: 1px;
}
.table div:hover{
    opacity: 0.8;
}
.table div:active{
    transform: translateY(3px);
    transition: 0.2s;
}

.mapboxgl-map{
    position: absolute;
    z-index: -2;
}
.mapboxgl-marker {
    position: absolute;
}
.mapboxgl-marker div {
    position: relative;
    bottom: 80px;
    left: 5px;
    font-size: 2vmin;
    font-weight: 900;
    color: rgb(255, 222, 113);
    text-shadow: 0px 0 10px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;

}
.mapboxgl-marker svg{
    position: relative;
      width: 30px;
      height: 30px;
    bottom: 24px;
    right: 8px;
      z-index: -1;
}

@keyframes bounce {
    from {
      bottom: 24;
    }
    50% {
      bottom: 10vmin;
      animation-timing-function: ease-in;
    }
    to {
      bottom: 24;
      animation-timing-function: ease-out;
    }
  }